<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{product.list.page.title}">Listado de Productos</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
</head>
<body>
      <div class="language-selector">
        <a th:href="@{/web/productos(lang=es)}">🇪🇸</a> | 
        <a th:href="@{/web/productos(lang=en)}">🇬🇧</a> | 
        <a th:href="@{/web/productos(lang=ar)}">🇲🇦</a> | 
        <a th:href="@{/web/productos(lang=de)}">🇩🇪</a>
    </div>

    <hr>
    <h1 th:text="#{product.list.title}">LISTADO DE PRODUCTOS</h1>
    
    <div class="table-container">
        <a th:href="@{/web/productos/nuevo}" th:text="#{generic.link.create}">Crear Nuevo</a>

        <a th:href="@{/web/productos/pdf}">
            <img th:src="@{/images/archivo-pdf.png}" 
                 th:alt="#{generic.link.export.pdf}" 
                 th:title="#{generic.link.export.pdf}" 
                 width="50">
        </a>
        
        <table id="tablaProductos">
            <thead>
                <tr>
                    <th th:text="#{product.table.header.id}">ID</th>
                    <th th:text="#{product.table.header.name}">Nombre</th>
                    <th th:text="#{product.table.header.price}">Precio</th>
                </tr>
            </thead>
            <tbody id="cuerpoTabla">
                <tr th:each="p : ${productos}">
                    <td th:text="${p.id}">1</td>
                    <td th:text="${p.nombre}">Producto Ejemplo</td>
                    <td th:text="${p.precio}">0.00</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>